'context-menu':
  'atom-text-editor': [
    {
      'label': 'Selected Text to CoffeeScript'
      'command': 'coffee-porter:convertTextCoffeescript'
    },
    {
      'label': 'Paste Clipboard as Coffeescript'
      'command': 'coffee-porter:pasteAsCoffeescript'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Coffee Porter'
      'submenu': [
        {
          'label': 'Selected Text to CoffeeScript'
          'command': 'coffee-porter:convertTextCoffeescript'
        },
        {
          'label': 'Selected File to CoffeeScript'
          'command': 'coffee-porter:convertFileCoffeescript'
        },
        {
          'label': 'Paste Clipboard as Coffeescript'
          'command': 'coffee-porter:pasteAsCoffeescript'
        }
      ]
    ]
  }
]
